<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
        "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
  <title>ShareBase &#8212; Member Servicing Console</title>
</head>
<frameset cols="172,*" frameborder="1" border="1" framespacing="0">
  <frame name="navFrame" src="{{ url_for('console_nav') }}" scrolling="no" noresize>
  <frame name="contentFrame" src="{{ content_src }}">
  <noframes>
    <body>This console requires a frames-capable browser.</body>
  </noframes>
</frameset>
</html>
