<html>
<head>
  <title>Navigation</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sharebase.css') }}">
</head>
<body class="navFrame">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr><td>
    <div class="navGroup">Member Services</div>
    <a href="{{ url_for('console_search') }}" target="contentFrame">Member Search</a>
    <a href="{{ url_for('console_home') }}" target="contentFrame">Servicing Home</a>
    <div class="navGroup">Operations</div>
    <a href="javascript:alert('Not licensed for this institution.')">Teller Batch</a>
    <a href="javascript:alert('Not licensed for this institution.')">GL Inquiry</a>
    <div class="navGroup">Session</div>
    <a href="{{ url_for('logout') }}" target="_top">Sign Off</a>
  </td></tr>
</table>
</body>
</html>
