{% extends "_content.html" %}
{% block body %}
<table cellpadding="0" cellspacing="0" border="0" width="560">
  <tr><td class="sectionBar">{{ heading }}</td></tr>
  <tr><td class="panel">
    <div class="{{ box_class }}">
      <b>{{ outcome_code }}</b><br>
      {{ detail }}
    </div>
    <div style="margin-top:8px">
      {% if member %}<a href="{{ url_for('console_member', member_id=member.member_id) }}">Return to Member</a>&nbsp;|&nbsp;{% endif %}
      <a href="{{ url_for('console_search') }}">New Search</a>
    </div>
  </td></tr>
</table>
{% endblock %}
